<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<script type="text/javascript">
	var objspan = document.createElement("span")
	objspan.style.display="block";
	objspan.style.display="200%";
	objspan.innerHTML = "Congratulations Jonathan Seitz on creating your first Express application";
	document.body.appendChild(objspan);
	</script>
<% if ( userFullName ) { %>
<h2>Hello <%=userFullName%> </h2>
<a href="/signout">Sign out</a>
<% } else { %>
<h2><a href="/signup">Signup</a></h2>
<h2><a href="/signin">Signin</a></h2>
<% } %>

<section ng-view></section>

<section>
<input type="text" id="text1" ng-model="firstname">
<input type="text" id="text2" ng-model="firstname">
<input type="text" id="text3" ng-model="lastname">
<input type="text" id="text4" ng-model="lastname">
</section>

<script type="text/javascript"
src="/lib/angular/angular.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<script type="text/javascript"
src="/example/example.client.module.js"></script>

<script type="text/javascript"
src="/example/controllers/example.client.controller.js">
</script>

<script type="text/javascript" src="/application.js">
</script>

</body>
</html>