<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<style type="text/css">
</style>
<script type="text/javascript">
	var objspan = document.createElement("span")
	objspan.style.display="block";
	objspan.style.display="200%";
	objspan.innerHTML = "This is your space to sort out and save your list of movies you want to put into a collection.";
	document.body.appendChild(objspan);
	</script>
<% if ( userFullName ) { %>
<h2>Hello <%=userFullName%> </h2>
<a href="/signout">Sign out</a>
<% } else { %>
<h2><a href="/signup">Signup</a></h2>
<h2><a href="/signin">Signin</a></h2>
<% } %>

<section ng-view></section>

<section>
<div class="container">
  <h1>Movie Collection List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Of Release</th>
        <th>Genre</th>
		<th>Actors</th>
		<th>Runtime</th>
		<th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td></td>
        <td></td>
        <td></td>
		<td></td>
		<td></td>
		<td></td>
      </tr>
    </tbody>
  </table>
</div>
</section>

<script type="text/javascript"
src="/lib/angular/angular.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<script type="text/javascript"
src="/example/example.client.module.js"></script>

<script type="text/javascript"
src="/example/controllers/example.client.controller.js">
</script>

<script type="text/javascript" src="/application.js">
</script>

</body>
</html>